* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: green;
  display:flex;
  align-items: center;
}

#contenedor {
  width: 920px;
  height: 280px;
  margin: 0 auto;

  position:relative;

  background: linear-gradient(#87d6c7, transparent )#ffe2d1;
  transition: background-color 1s linear;
  overflow: hidden;

}



.dino {
  width: 84px;
  height: 84px;
  position:absolute;
  bottom: 22px;
  left: 42px;
  z-index: 2;
  background: url(../img/dino.png) repeat-x 0 0;
  background-size: 336px 84px;
  background-position-x:  0;
  
}

.dino-corriendo {
  animation: animarDino 0.25s steps(2) infinite;
}


.dino-estrellado {
  background-position-x: -252px;

}

.nube {
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(../img/nube.png) no-repeat;
    background-size: 92px 26px;
}

.cactus{
  width: 46px;
  height: 96px;

  position: absolute;
  bottom: 16px;
  left: 600px;
  z-index: 1;

  background: url(../img/cactus1.png) no-repeat;
}

.cactus2{
  width: 98px;
  height: 66px;

  background: url(../img/cactus2.png) no-repeat;
}

.suelo {
  width: 200%;
  height: 42px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/suelo.png) repeat-x 0 0;
  background-size: 50% 42px;
}


.score {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 10;
  color: #d48871;
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
  text-align: right;

}

.cartel-reinicio {
  padding: 10px;
  width: 350px;
  height: 150px;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 10px;
  display: block;
  margin-left: 260px;
  margin-top: 20px;
  font-family: "Roboto";
  text-align: center;
  position: relative;
  backdrop-filter: blur(400px);





}

 h3 , .cartel-reinicio {
  padding: 10px;
 }
 
.boton-reinicio {
  border: solid 1px red; 
  background-color: #854448;
  padding: 10px;
  text-transform: uppercase;
  width: 150px;
  
  position: absolute;
  bottom: 10px;
  left: 29%;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
}

.boton-reinicio:hover {
  background-color: #30926D;
  font-size: large;
}




/* Le da animacion al dino */
@keyframes animarDino {
  from {
    background-position-x: -84px;
  }
  to {
    background-position-x: -252px;
  }
}


